---
---
@import "minima";

.navbar-collapse {
  background-color: #fff;
}

.categorypill {
  color:#fff;
  border-radius: 3px;
  background-color: rgb(19, 140, 99);
  font-size: 20px;
  padding: 3px 10px;
  display: inline-block;
  text-decoration: none;  
  margin-top: 2px;
  
  &:visited,&:focus,&:active,&:hover {
    color:#fff;
    text-decoration: none;  
  }
  &:visited {
    
    background-color: rgb(18, 126, 90);
  }
  &:hover {
    background-color: rgb(26, 161, 116);
  
  }
  &:active,&:focus {
    background-color: rgb(19, 140, 99);
  }
}
.categorypill.product {
  background-color: rgb(186, 107, 16);

  &:visited {
    
    background-color:rgb(186, 107, 16);
  }
  &:hover {
    background-color: rgb(214, 134, 43);
  
  }
  &:active,&:focus {
    background-color: rgb(186, 107, 16);
  }
  
}
.categorypill.marketing {

  background-color:   rgb(234, 25, 171);
  &:visited {
      
    background-color:   rgb(215, 20, 157);
  }
  &:hover {
    background-color:   rgb(232, 112, 196);

  }
  &:active,&:focus {
    background-color:   rgb(211, 22, 154);
  }
}
.categorypill.strategy {

  background-color:   rgb(25, 119, 234);
  &:visited {
      
    background-color:   rgb(20, 104, 207);  }
  &:hover {
    background-color:   rgb(56, 141, 244);
  }
  &:active,&:focus {
    background-color:   rgb(18, 102, 204);  }
}

.categorypill.discovery {

  background-color:   rgb(255, 222, 4);
  &:visited {
      
    background-color:   rgb(255, 222, 4);
    }
  &:hover {
    background-color:   rgb(255, 238, 126);
  }
  &:active,&:focus {
    background-color:   rgb(255, 222, 4);
    }
}

.list-product {
  background-color:   rgba(186, 107, 16,0.1);
}
.list-marketing {
  background-color:   rgba(234, 25, 171, 0.1);
}
.list-strategy {
  background-color:   rgba(25, 119, 234,0.1);
}
.list-discovery {
  background-color:   rgba(255, 222, 4,0.1);
}
.split .title-heading {
  font-size: 13px;
}



.listofcards .card {
  cursor: pointer;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;

}
.post-title {
  margin-bottom: 5px;
}
.dt-published {
  margin-top: 5px;
}

.listofcards .card:hover {
  transform: scale(0.99,0.99);
  
  transition: transform 0.1s ease-in;
}

.listofcards {
  border-radius: 6px;
  padding:10px 0;
  margin-bottom: 20px;
}
.listofcards .card h4 {
  font-weight: 400;
}
.listofcards .card .role {

}
.listofcards .card .title {

}

.listofcards .card .location {

}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
}
.hero.card {
}
.landingpage {
  max-width: 800px;
  margin: 0 auto;
}
.landingpage h2 {
  margin-top: 16px;
}
.landingpage img {
  margin-top: 8px;
  margin-bottom: 8px;
}
.hero.card>*{
 margin:4%;
}

.image img {
  width: 200px;
  
}

.split.half > div {
  width:40%;
  margin:4%;
}
.split.thirds > div {
  width:30%;
  margin:2%;
}
.split.thirds > span {
  
  margin:2%;
}
.split.thirds > img {
  width:30%;
  margin:2%;
}
.split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}



.split div {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/* Split image effect for hero section 
.herosplit {
  overflow: hidden;
}
.herosplit > img:first-child {
  transform: scale(0.5) translate3d(-10%, -15%, 0);
}
.herosplit > img:last-child {
  transform: scale(0.5) translate3d(+10%, +15%, 0);
}*/
.button-cta {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  text-align: center;
  margin: 10px auto;
}
.button-cta:hover {
  background-color: #0056b3;
  color: #fff;

}
.button-cta:active {
  background-color: #0056b3;
  color: #fff;

}
.button-cta:focus {
  background-color: #0056b3;
  color: #fff;

}
.button-cta:visited {
  background-color: #0056b3;
  color: #fff;

}
.button-cta:focus-visible {
  background-color: #0056b3;
  color: #fff;

}

.secondary-cta {
  display: inline-block;
  
  color: #0054d1;
  
  
  text-decoration: none;
  
  font-size: 16px;
  margin: 10px auto;
}
.secondary-cta:hover {
  
  color: #0054d1;
}
.secondary-cta:active {
  background-color: none;
  color: #0054d1;
}
.secondary-cta:focus {
  background-color: none;
  color: #0054d1;
}
.secondary-cta:visited {
  background-color: none;
  color: #0054d1;
}
.secondary-cta:focus-visible {
  background-color: none;
  color: #0054d1;
}

.site-header {
  border-top: none;
}