---
layout: default
---
<article class="post h-entry row" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header col-12 col-md-6 col-lg-6">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="pictures">
      
      <img src="../../../{{page.thumbnail}}" />
      <img src="../../../{{page.ui}}" />
    </div>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="col-12 col-md-6 col-lg-6 post-content e-content" itemprop="articleBody">
    <h4><span class="role">{{ page.role }} </span>/<span class="company"> {{ page.company }} </span> / <span class="location"> {{ page.location }} </span></h4>
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
